body {
    background: rgba(201, 193, 193, 0.705);
    font: normal 15pt Arial;


}

.container {
    text-align: center;
    /*display: inline-block;*/
    background: rgba(255, 255, 255, 0.438);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 3px;
}

section {
    background: rgb(74, 80, 148);
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);

}

footer{
    color: gray;
    text-align: center;
    font: normal 10pt Arial;
    font-style: italic;

}
